{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">

            <!-- Ofis Bilgileri -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Ofisimiz</h4>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i> {{ global_settings.address }}</p>
                <p class="mb-2">
                    <i class="fa fa-phone-alt me-3"></i>{{ global_settings.phone }} </p>
                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>{{ global_settings.email }} </p>

                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://wa.me/905365416404"><i class="fa fa-phone"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href="tel:+905365416404"><i class='fab fa-whatsapp' style='font-size:28px;color:#fff'></i></a>

                </div>
            </div>

            <!-- Hizmetler -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Hizmetlerimiz</h4>
                <a class="btn btn-link" href="/services/villa-bakim//">Site ve Villa Peyzajı</a>
                <a class="btn btn-link" href="/services/peyzaj-tasarim/">Peyzaj Tasarımı</a>
                <a class="btn btn-link" href="/services/sulama/">Otomatik Sulama Sistemleri</a>
                <a class="btn btn-link" href="/services/cim-serimi/">Çim Serimi</a>
                <a class="btn btn-link" href="/services/bitkilendirme/">Bitkilendirme & Ağaçlandırma</a>
                <a class="btn btn-link" href="/services/sert-zemin/">Sert Zemin</a>
            </div>

            <!-- Hızlı Erişim -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Hızlı Erişim</h4>
                <a class="btn btn-link" href="/about/">Hakkımızda</a>
                <a class="btn btn-link" href="/contact/">İletişim</a>
                <a class="btn btn-link" href="/services/">Hizmetler</a>
                <a class="btn btn-link" href="/projects/">Projeler</a>
                <a class="btn btn-link" href="/teklif-al/">Teklif Al</a>
            </div>



        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright -->
<div class="container-fluid copyright py-4">
    <div class="container text-center">
        &copy; 2025 Cihangir Peyzaj — Tüm Hakları Saklıdır.
    </div>
</div>
q