{% extends "base.html" %}
{% block title %}Projelerimiz{% endblock %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">Projelerimiz</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projelerimiz</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-bold text-primary">Projelerimiz</p>
            <h1 class="display-5 mb-5">Bazı Başlıca Projelerimiz</h1>
        </div>

        <div class="row wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline rounded mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">Tümü</li>
                    <li class="mx-2" data-filter=".first">Tamamlanan Projeler</li>
                    <li class="mx-2" data-filter=".second">Devam Eden Projeler</li>
                </ul>
            </div>
        </div>

<div class="row g-4 portfolio-container">

    {% for project in projects %}

        <div class="col-lg-4 col-md-6 portfolio-item 
            {% if project.status == 'finished' %}first{% else %}second{% endif %}
            wow fadeInUp" data-wow-delay="0.1s">

            <div class="portfolio-inner rounded">
                <img class="img-fluid" src="{{ project.cover_image.url }}" alt="{{ project.title }}" alt ="{{ project.title }}" >

                <div class="portfolio-text">
                    <h4 class="text-white mb-4">{{ project.title }}</h4>

                    <div class="d-flex">
                        <a class="btn btn-lg-square rounded-circle mx-2"
                           href="{{ project.cover_image.url }}"
                           data-lightbox="portfolio"><i class="fa fa-eye"></i></a>

                        <a class="btn btn-lg-square rounded-circle mx-2"
                           href="{% url 'project_detail' project.pk %}">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    {% endfor %}

</div>

    </div>
</div>
<!-- Projects End -->

<script>
document.addEventListener("DOMContentLoaded", function () {
    const isMobile = window.innerWidth < 992;

    if (isMobile) {
        const items = document.querySelectorAll(".portfolio-item .portfolio-inner");
        items.forEach(item => {
            item.classList.add("active");
        });
    }
});
</script>

{% endblock %}
